@import 'colors/one-dark.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    font-size: 13px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    /* прозрачный фон */
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @blue;
    color: @bg0;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 60px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#network,
#clock,
#tray,
#custom-pacman,
#custom-media,
#custom-launcher,
#custom-notification,
#custom-lock,
#custom-quit,
#custom-reboot,
#custom-power {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    margin: 0 0 0 12px;
    border-radius: 45px;
    border: 1px solid @bg1;
}

#clock,
#custom-launcher {
    color: @blue;
}

#custom-notification {
    color: @fg;
    margin: 0 12px 0 12px;
}

#pulseaudio {
    color: @yellow;
}

#network,
#custom-pacman {
    color: @purple;
}

#battery,
#custom-media {
    color: @green;
}

/* --- Power Menu Colors --- */

#custom-lock {
    color: #e5c07b;
}

#custom-quit {
    color: @purple;
}

#custom-reboot {
    color: @green;
}

#custom-power {
    color: @red;
    padding-right: 18px;
}

/* --- Tray --- */

#tray {
    color: @purple;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

menu {
    background: @bg0;
    border: 1px solid @bg1;
    border-radius: 12px;
}
